[Unit]
Description=Nordix ZFS Auto-Snapshot Service
Documentation=https://github.com/nordix

After=zfs.target
Requires=zfs.target

[Service]
Type=oneshot
ExecStart=/usr/lib/nordix/scripts/system/nordix-auto-snapshot --run
Nice=19
IOSchedulingClass=idle

[Install]
WantedBy=multi-user.target
